<div class="main-content">
  <div class="container">
    <div class="about-section">
      <h1>🐦 About Bird</h1>
      
      <section class="about-content">
        <h2>What is Bird?</h2>
        <p>Bird is an open-source microblogging platform that emphasizes simplicity and user privacy. It de-emphasises anyone other than me being able to post. I get 140 characters or less to express a thought.</p>

        <h2>Why is Bird?</h2>
        <p>Microblogging platforms over the years have become more about sharing and less about blogging. I don't want to share I just want to think.</p>

        <p>There is another dimension: writing on a public platform optimised for content consumption messes with my raison d'écrire. All of a sudden, I feel like I gotta curate myself as well as think. I immediately try to appear cooler, funnier and more knowledgable than I actually am. This charade lasts 20 seconds as I try to squeeze out cooler and more knowledgeble thoguhts. Of course by deifinition it's impossible, I give up, terminate the thought process and go back to what I know - eating crisps and watching netflix (often literally).</p>

        <p>So I thought fuck all that, I'm gonna have my own microblog. If by some fantastical turn of events I actually keep it up.</p>

        <p>I'm not even gonna edit this! Haha! My bird, my rules! 🐦</p>
      </section>
    </div>
  </div>
</div>
